.homeContainer {
  width: 80vw;
  background: #b42b51;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 80vh;
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.btn-logout {
  align-self: flex-end;
}
.message-form input {
  margin: 0.4rem 0;
}
.home-body {
  align-self: center;
}
.dash-btn {
  background-color: transparent;
  border: none;
}
.home-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
