.LandingContainer {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}
.formContainer {
  border-radius: 10px;
  border: 1px solid rgba(160, 66, 66, 0.18);
  background: #feffed;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  flex-shrink: 1;
  align-self: center;
}
.sideSection {
  border-radius: 10px;
  border: 1px solid rgba(160, 66, 66, 0.18);
  border-radius: 0px 10px 10px 0px;
  background: #b42b51;
  height: 100%;
  align-self: center;
  flex: 1;
  padding: 1rem;
  flex-shrink: 1;
}

@media only screen and (max-width: 430px) {
  .LandingContainer {
    display: block;
  }
  .formContainer {
    border-radius: 10px 10px 0px 0px;
    height: auto;
  }
  .sideSection {
    border-radius: 0px 0px 10px 10px;
    height: auto;
    min-height: 50%;
  }
}
