.LandingContainer {
  width: 80vw;
  background: rgba(198, 131, 131, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}
.formContainer {
  flex: 1;
  align-self: center;
}
.sideSection {
  align-self: center;
  flex: 1;
}
