/* .timer-container {
  display: flex;
}
.timer-container span {
  margin: 0 0.2rem;
  color: #b42b51;
  background: white;
  border: 1px solid white;
  padding: 0.2rem;
  margin: 2rem;
}
.timer-head {
  margin: 0;
} */
